<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script>
   // Script to send a Get request to '/basic'
   $(document).ready(function(){
       $('#getButton').click(function(){
           $.ajax({
             url: '/basic',
             type: 'GET',
             success: function(data,status){
                 alert("Server response data: " + JSON.stringify(data) + "\nStatus: " + status);
             },
             error: function() {
                 alert("Unauthorized");
             }
           });
       });
   });

   // Script to send a Get request to '/rawbasic'
   $(document).ready(function(){
       $('#rawGetButton').click(function(){
           $.ajax({
             url: '/rawbasic',
             type: 'GET',
             success: function(data,status){
                 alert("Server response data: " + JSON.stringify(data) + "\nStatus: " + status);
             },
             error: function() {
                 alert("Unauthorized");
             }
           });
       });
   });

   // Script to POST URL encoded data from a HTML form
    $(document).ready(function(){
        // click on button submit
        $("#signup").on('click', function(){
            // send ajax
            $.ajax({
                url: '/signup', // url where to submit the request
                type : "POST", // type of action POST || GET
                contentType: "application/x-www-form-urlencoded", // set the request Content-Type header
                dataType : 'json', // data type
                data : $("#signup_form").serialize(), // post data || get data
                success: function(data, status){
                    alert("Server response data: " + JSON.stringify(data) + "\nStatus: " + status);
                },
                error: function() {
                    alert("Username already taken");
                }
            })
        });
    });

   // Script to send a DELETE request to '/clearusers'
   $(document).ready(function(){
       $('#deleteButton').click(function(){
           $.ajax({
             url: '/clearusers',
             type: 'DELETE',
             success: function(data,status){
                 alert("Server successfully deleted \nStatus: " + status);
             }
           });
       });
   });
   </script>
   <title>Sessions</title>
 </head>
 <body>
     <p>What would you like to do?</p>
     <p>
     This page will send HTTP requests to the "/basic" and "/rawbasic" routes of the Kitura sample server.<br>
     These pages have been protected by <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Authentication#Basic_authentication_scheme" target="_blank"> HTTP basic authentication</a>.<br>
     To access the routes you must sign up and then provide the correct username and password.<br>
     The sample has a default username of "username" and password of "password".<br>
     Once you have successfully authenticated your browser will remember your credentials for future logins.<br>
     <a href="https://github.com/IBM-Swift/Kitura-Sample/blob/master/Sources/Application/Routes/BasicAuthRoutes.swift" target="_blank">View the code</a>
     </p>
     <ul><li>
         <p>Sign up a new user with an HTTP POST request to &quot;/signup&quot;</p>
         <form action="" method="post" id="signup_form">
             Username: <input type="text" name="username" required="required"><br>
             Password: <input type="text" name="password" required="required"><br>
             <input id="signup" type="button" name="Submit" value="Submit">
         </form>
     </li></ul>
     <ul><li>
         <p> "Codable HTTP Basic authentication" </p>
         <input type="button" value="GET to &quot;/basic&quot;" id="getButton" >
     </li></ul>
     <ul><li>
         <p> "Raw HTTP Basic authentication" </p>
         <input type="button" value="GET to &quot;/rawbasic&quot;" id="rawGetButton" >
     </li></ul>
     <ul><li>
         <p>Delete all usernames and passwords by sending an HTTP DELETE request to &quot;/clearusers&quot;</p>
         <input type="button" value="DELETE to &quot;/clearusers&quot;" id="deleteButton">
     </li></ul>
 </body>
</html>
