<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
// Script to send a Get request to '/books'
$(document).ready(function(){
    $('#getButton').click(function(){
        $.ajax({
          url: '/books',
          type: 'GET',
          success: function(data,status){
              alert("Server response data: " + JSON.stringify(data) + "\nStatus: " + status);
          }
        });
    });
});
// Script to POST JSON from a HTML form
 $(document).ready(function(){
     // click on button submit
     $("#submitJSONPost").on('click', function(){
     var jsonData = {};
     jsonData["name"] = $("#json_post_form").serializeArray()[0].value;
     jsonData["author"] = $("#json_post_form").serializeArray()[1].value;
     jsonData["rating"] = parseInt($("#json_post_form").serializeArray()[2].value);
     console.log(JSON.stringify(jsonData));
         // send ajax
         $.ajax({
             url: '/books', // url where to submit the request
             type : "POST", // type of action POST || GET
             contentType: "application/json", // set the request Content-Type header
             dataType : 'json', // data type
             data : JSON.stringify(jsonData), // post data || get data
             success: function(data, status){
                 alert("Server response data: " + JSON.stringify(data) + "\nStatus: " + status);
             },
             error: function() {
                 alert("Failed to post JSON");
             }
         })
     });
 });

 // Script to POST URL encoded data from a HTML form
  $(document).ready(function(){
      // click on button submit
      $("#submitURLEncodedPost").on('click', function(){
          // send ajax
          $.ajax({
              url: '/books', // url where to submit the request
              type : "POST", // type of action POST || GET
              contentType: "application/x-www-form-urlencoded", // set the request Content-Type header
              dataType : 'json', // data type
              data : $("#urlencoded_post_form").serialize(), // post data || get data
              success: function(data, status){
                  alert("Server response data: " + JSON.stringify(data) + "\nStatus: " + status);
              },
              error: function() {
                  alert("Failed to post JSON");
              }
          })
      });
  });

  // Script to send a Get request with query parameters to '/books'
  $(document).ready(function(){
      $('#submitQueryGet').click(function(){
          $.ajax({
            url: '/books?' + $("#query_get_form").serialize(),
            type: 'GET',
            success: function(data,status){
                alert("Server response data: " + JSON.stringify(data) + "\nStatus: " + status);
            }
          });
      });
  });

 // Script to PUT JSON from a HTML form
 $(document).ready(function(){
     // click on button submit
     $("#submitPut").on('click', function(){
     var jsonData = {};
     jsonData["name"] = $("#json_put_form").serializeArray()[0].value;
     jsonData["author"] = $("#json_put_form").serializeArray()[1].value;
     jsonData["rating"] = parseInt($("#json_put_form").serializeArray()[2].value);
     var position = $("#json_put_form").serializeArray()[3].value;
         // send ajax
         $.ajax({
             url: '/books/' + position, // url where to submit the request
             type : "PUT", // type of action POST || GET
             contentType: "application/json", // set the request Content-Type header
             dataType : 'json', // data type
             data : JSON.stringify(jsonData), // post data || get data
             success: function(data, status){
                 alert("Server response data: " + JSON.stringify(data) + "\nStatus: " + status);
             },
             error: function() {
                 alert("Failed to post JSON");
             }
         })
     });
 });
 // Script to send a DELETE request to '/books'
 $(document).ready(function(){
     $('#deleteButton').click(function(){
         $.ajax({
           url: '/books',
           type: 'DELETE',
           success: function(data,status){
               alert("Server successfully deleted \nStatus: " + status);
           }
         });
     });
 });
</script>
   <title>Books: Codable routing</title>
 </head>
 <body>
     <p>
         This page will send HTTP requests to the "/books" route
         of the Kitura sample server.<br> The server will then process the
         incoming request to return or change the global "Books" dictionary.<br>
         This is a demonstration of Codable routing in Kitura.<br>
         <a href="https://github.com/IBM-Swift/Kitura-Sample/blob/master/Sources/Application/Routes/CodableRoutes.swift" target="_blank">View the code</a>
      </p>

     <ul><li>
         <p>Send an HTTP GET request to &quot;/books&quot; to receive an array of books</p>
         <input type="button" value="GET to &quot;/books&quot;" id="getButton" >
     </li></ul>
     <ul><li>
         <p>Add a book by sending a JSON-encoded HTTP POST request to &quot;/books&quot;</p>
         <form action="" method="post" id="json_post_form">
             Name: <input type="text" name="name" required="required"><br>
             author: <input type="text" name="author" required="required"><br>
             rating: <input type="number" name="rating" required="required" min="1" max="5"><br>
             <input id="submitJSONPost" type="button" name="Submit" value="Submit">
         </form>
     </li></ul>
     <ul><li>
         <p>Add a book by sending a URL-encoded HTTP POST request to &quot;/books&quot;</p>
         <form action="" method="post" id="urlencoded_post_form">
             Name: <input type="text" name="name" required="required"><br>
             author: <input type="text" name="author" required="required"><br>
             rating: <input type="number" name="rating" required="required" min="1" max="5"><br>
             <input id="submitURLEncodedPost" type="button" value="Submit">
         </form>
     </li></ul>
     <ul><li>
         <p>Search for a book by sending a HTTP GET request with the name as query parameters to &quot;/books&quot;</p>
         <form action="/books" method="get" id="query_get_form" enctype="application/x-www-form-urlencoded">
             Name: <input type="text" name="name" required="required"><br>
             <input id="submitQueryGet" type="button" value="Submit">
         </form>
     </li></ul>
     <ul><li>
         <p>Replace a book by sending a JSON-encoded HTTP PUT request to &quot;/books&quot;</p>
         <form action="" method="post" id="json_put_form">
             Name: <input type="text" name="name" required="required"><br>
             author: <input type="text" name="author" required="required"><br>
             rating: <input type="number" name="rating" required="required" min="1" max="5"><br>
             position: <input type="number" name="position"><br>
             <input id="submitPut" type="button" name="Submit" value="Submit">
         </form>
     </li></ul>
     <ul><li>
         <p>Empty the &quot;books&quot; dictionary by sending an HTTP DELETE request to &quot;/hello&quot;</p>
         <input type="button" value="DELETE to &quot;/books&quot;" id="deleteButton">
     </li></ul>
 </body>
</html>
