<!DOCTYPE HTML>
<html>
  <head>
    <title>Kitura Sample</title>
    <link rel="icon" type="image/png" href="assets/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/favicon-16x16.png" sizes="16x16" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="mobile.css" media="(max-width: 800px)" />
  </head>
  <body>
    <div class="header">
        <div class="socialLinks">
            <a href="http://slack.kitura.io"><img src="assets/slack.png" alt="Slack"/></a>
            <a href="https://github.com/IBM-Swift/"><img src="assets/github.png" alt="Github"/></a>
            <a href="https://stackoverflow.com/questions/tagged/kitura"><img src="assets/stackoverflow.png" alt="Stack Overflow"/></a>
        </div>
        <a class="homeLink" href="./">
        <img src="assets/appIcon.png" alt="App Icon"/>
        <h2>Kitura Sample</h2></a>
    </div>

    <div class="sidebar">
        <ul>
            <li style="margin: 5px -15px"><button class="button" onclick="loadInnerPage('./hello.html')">./hello<p>Simple Hello World response in a browser window.</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./codable.html')">./books<p>Codable route demo of fetching a struct object book.</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./additional.html')">./additional<p>Additional raw routing handlers.</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./sessions.html')">./sessions<p>Codable and Raw sessions using cookies.</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./basicauth.html')">./basicauth<p>Codable and Raw routes using HTTP basic authentication .</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./tokenauth.html')">./tokenauth<p>Codable and Raw routes using OAuth token authentication .</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./articles')">./articles<p>Render a page using a Stencil file and Swift code.</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./docs/index')">./docs<p>Render a static page from a Markdown file using Markdown.</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./error')">./error<p>Displays an error message in a window, generated and returned by Kitura.</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./chat')">./chat<p>Kitura WebSockets demo using a Chat Room application.</p></button></li>


            <li class="kituraio"><button class="button-kituraio" onclick="window.open('http://kitura.io')">www.kitura.io<p>Open Kitura.io in a new tab.</p></button></li>
        </ul>
    </div>

    <div class="sidebar-mobile">
        <ul>
            <li style="margin: 5px -15px"><button class="button" onclick="window.open('./hello.html')">./hello<p>Simple Hello World response in a new browser tab.</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./codable.html')">./books<p>Codable route demo of fetching a struct object book.</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./additional.html')">./additional<p>Additional raw routing handlers.</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./sessions.html')">./sessions<p>Codable and Raw sessions using cookies.</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./basicauth.html')">./basicauth<p>Codable and Raw routes using HTTP basic authentication .</p></button></li>
            
            <li class="list"><button class="button" onclick="window.open('./tokenauth.html')">./tokenauth<p>Codable and Raw routes using OAuth token authentication .</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./articles')">./articles<p>Render a page using a Stencil file and Swift code.</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./docs/index')">./docs<p>Render a static page from a Markdown file using Markdown.</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./error')">./error<p>Displays an error message in a new tab.</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./chat')">./chat<p>Kitura WebSockets demo using a Chat Room application.</p></button></li>

            <li class="kituraio"><button class="button-kituraio" onclick="window.open('http://kitura.io')">www.kitura.io<p>Open Kitura.io in a new tab.</p></button></li>
        </ul>
    </div>

    <div class="mainPane">
        <h1 id="fillerTitle">Launch a route using the sidebar...</h1>
        <object id="innerPage" type="text/html"></object>
        <meta charset="UTF-8">
    </div>

    <script>
        function loadInnerPage(page) {
            document.getElementById("innerPage").setAttribute('data', page);
            document.getElementById("fillerTitle").setAttribute('style', 'display: none;');
            console.log("Testing");


            // Refresh data to force the page to load
            var objects = document.getElementsByTagName("object");
            for(var i = 0; i < objects.length; i++) {
                var obj = objects[i];
                obj.data = obj.data;
            }
        }
    </script>

  </body>
</html>
