<!DOCTYPE HTML>
<html>
  <head>
    <title>Kitura Sample</title>
    <link rel="icon" type="image/png" href="assets/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/favicon-16x16.png" sizes="16x16" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="mobile.css" media="(max-width: 800px)" />
  </head>
  <body onload="loadInnerPage('./hello.html')">
    <div class="header">
        <div class="socialLinks">
            <a href="http://slack.kitura.io"><img class="grayscale" src="assets/slack.png" alt="Slack"/></a>
            <a href="https://github.com/IBM-Swift/"><img class="grayscale shifted" src="assets/github.png" alt="Github"/></a>
            <a href="http://kitura.io"><img class="grayscale" src="assets/appIcon.png" alt="Kitura"/></a>
        </div>
        <h2 class="mainTitle">Kitura Sample</h2>
    </div>

    <div class="sidebar">
        <ul>
            <li style="margin: 5px -15px"><button class="button" onclick="loadInnerPage('./hello.html')"><p>Hello World</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./codable.html')"><p>Codable routing</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./ormdatabase.html')"><p>Persisting with a database</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./sessions.html')"><p>Persisting with sessions</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./stencil')"><p>Rendering stencil templates</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./docs/index')"><p>Rendering markdown</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./basicauth.html')"><p>HTTP basic authentication</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./tokenauth.html')"><p>OAuth2 token authentication</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./oauth2.html')"><p>OAuth2 redirecting authentication</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./jwtform.html')"><p>JWT: JSON web tokens</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./openapi/ui')"><p>OpenAPI interface</p></button></li>

            <li class="list"><button class="button" onclick="loadInnerPage('./chat')"><p>WebSockets demo</p></button></li>
        </ul>
    </div>

    <div class="sidebar-mobile">
        <ul>
            <li style="margin: 5px -15px"><button class="button" onclick="window.open('./hello.html')"><p>Hello World</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./codable.html')"><p>Codable routing</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./ormdatabase.html')"><p>Persisting with a database</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./sessions.html')"><p>Persisting with sessions</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./stencil')"><p>Rendering stencil templates</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./docs/index')"><p>Rendering markdown</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./basicauth.html')"><p>HTTP basic authentication</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./tokenauth.html')"><p>OAuth2 token authentication</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./oauth2.html')"><p>OAuth2 redirecting authentication</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./jwtform.html')"><p>JWT: JSON web tokens</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./openapi/ui')"><p>OpenAPI interface</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./further.html')"><p>Further routing examples</p></button></li>

            <li class="list"><button class="button" onclick="window.open('./chat')"><p>WebSockets demo</p></button></li>
        </ul>
    </div>

    <div class="mainPane">
        <object id="innerPage" type="text/html"></object>
        <meta charset="UTF-8">
    </div>

    <script>
        function loadInnerPage(page) {
            document.getElementById("innerPage").setAttribute('data', page);
            document.getElementById("fillerTitle").setAttribute('style', 'display: none;');
            console.log("Testing");


            // Refresh data to force the page to load
            var objects = document.getElementsByTagName("object");
            for(var i = 0; i < objects.length; i++) {
                var obj = objects[i];
                obj.data = obj.data;
            }
        }
    </script>

  </body>
</html>
